                                                   Assignments
1 . Find out their average rating on a weekly basis keep this in mind that they take two days of leave
2 . Total working days for each agent 
3. Total query that you have taken 
4. Total feedback that you have received 
5. an agent name who has an average rating between 3.5 to 4 
6 . Agent name who has a rating less than 3.5 
7 . Agent name who has a rating of more than 4.5 
8 . how many feedback agents have received more than 4.5 on average
9 . average weekly response time for each agent 
10. average weekly resolution time for each agent 
11. list of all agent's names 
12 . percentage of chats on which they have received feedback 
13 . Total contribution hour for each and every agent's weekly basis 
14. total percentage of active hours for a month

In [1]:
# 1 . Find out their average rating on a weekly basis keep this in mind that they take two days of leave

import pandas as pd

# Loading the dataset from the CSV file
df = pd.read_csv(r'AgentPerformance.csv')

# Convert 'Date' to datetime format
df['Date'] = pd.to_datetime(df['Date'])

# Group by 'Agent Name' and 'Date', then calculate the mean for 'Average Rating'
weekly_average_rating = df.groupby(['Agent Name', pd.Grouper(key='Date', freq='W-Mon', closed='right', label='right')])['Average Rating'].mean().reset_index()

# Print or use the resulting DataFrame
print(weekly_average_rating)

    Agent Name       Date  Average Rating
0    Abhishek  2022-07-04        0.000000
1    Abhishek  2022-07-11        0.000000
2    Abhishek  2022-07-18        0.000000
3    Abhishek  2022-07-25        0.000000
4    Abhishek  2022-08-01        0.000000
..         ...        ...             ...
345   Zeeshan  2022-07-04        0.000000
346   Zeeshan  2022-07-11        1.925714
347   Zeeshan  2022-07-18        2.947143
348   Zeeshan  2022-07-25        3.151429
349   Zeeshan  2022-08-01        2.488000

[350 rows x 3 columns]

In [2]:
df

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,2022-07-30,Prerna Singh,11,0:00:38,0:04:20,4.11,9
1,2,2022-07-30,Nandani Gupta,11,0:01:15,0:28:25,3.14,7
2,3,2022-07-30,Ameya Jain,14,0:00:30,0:11:36,4.55,11
3,4,2022-07-30,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7
4,5,2022-07-30,Swati,14,0:01:11,0:16:33,3.67,6
...,...,...,...,...,...,...,...,...
2155,2156,2022-07-01,Sowmiya Sivakumar,0,0:00:00,0:00:00,0.00,0
2156,2157,2022-07-01,Nitin M,0,0:00:00,0:00:00,0.00,0
2157,2158,2022-07-01,Vivek,0,0:00:00,0:00:00,0.00,0
2158,2159,2022-07-01,Ayushi Mishra,0,0:00:00,0:00:00,0.00,0
2159,2160,2022-07-01,Chaitra K Hiremath,0,0:00:00,0:00:00,0.00,0

In [3]:
# 2 . Total working days for each agent 

df['Date'] = pd.to_datetime(df['Date'])

total_working_days = df.groupby('Agent Name')['Date'].nunique()

print(total_working_days)

Agent Name
Abhishek         30
Aditya           30
Aditya Shinde    30
Aditya_iot       30
Amersh           30
                 ..
Uday Mishra      30
Vasanth P        30
Vivek            30
Wasim            30
Zeeshan          30
Name: Date, Length: 70, dtype: int64

In [4]:
# 3. Total query that you have taken
import pandas as pd

# Loading the dataset from the CSV file
df = pd.read_csv(r'AgentPerformance.csv')

# Group by 'Agent Name' and calculate the sum for 'Total Chats'
total_chats_per_agent = df.groupby('Agent Name')['Total Chats'].sum().reset_index()

# Add 'SL No' column using cumulative sum
total_chats_per_agent['SL No'] = total_chats_per_agent.groupby('Agent Name')['Total Chats'].cumsum() - total_chats_per_agent['Total Chats'] + 1

# Reorder columns
total_chats_per_agent = total_chats_per_agent[['SL No', 'Agent Name', 'Total Chats']]

# Print or use the resulting DataFrame
print(total_chats_per_agent)

    SL No     Agent Name  Total Chats
0       1      Abhishek             0
1       1        Aditya             0
2       1  Aditya Shinde          277
3       1    Aditya_iot           231
4       1        Amersh             0
..    ...            ...          ...
65      1    Uday Mishra            0
66      1      Vasanth P            0
67      1         Vivek            44
68      1         Wasim           433
69      1       Zeeshan           542

[70 rows x 3 columns]

In [5]:
# 4. Total feedback that you have received

total_feedback = df.groupby('Agent Name')['Total Feedback'].sum()
print(total_feedback)

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    153
Aditya_iot       131
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             20
Wasim            284
Zeeshan          335
Name: Total Feedback, Length: 70, dtype: int64

In [6]:
df

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,7/30/2022,Prerna Singh,11,0:00:38,0:04:20,4.11,9
1,2,7/30/2022,Nandani Gupta,11,0:01:15,0:28:25,3.14,7
2,3,7/30/2022,Ameya Jain,14,0:00:30,0:11:36,4.55,11
3,4,7/30/2022,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7
4,5,7/30/2022,Swati,14,0:01:11,0:16:33,3.67,6
...,...,...,...,...,...,...,...,...
2155,2156,7/1/2022,Sowmiya Sivakumar,0,0:00:00,0:00:00,0.00,0
2156,2157,7/1/2022,Nitin M,0,0:00:00,0:00:00,0.00,0
2157,2158,7/1/2022,Vivek,0,0:00:00,0:00:00,0.00,0
2158,2159,7/1/2022,Ayushi Mishra,0,0:00:00,0:00:00,0.00,0
2159,2160,7/1/2022,Chaitra K Hiremath,0,0:00:00,0:00:00,0.00,0

In [7]:
# 5. An agent name who has an average rating between 3.5 to 4 

condition = (df['Average Rating'] >= 3.5) & (df['Average Rating'] <= 4)
result = df[condition]
print(result)

      SL No       Date           Agent Name  Total Chats  \
4         5  7/30/2022               Swati            14
10       11  7/30/2022         Manjunatha A           11
73       74  7/29/2022  Boktiar Ahmed Bappy           11
76       77  7/29/2022        Prateek _iot             8
78       79  7/29/2022        Nandani Gupta           24
...     ...        ...                  ...          ...
1941   1942   7/4/2022       Jawala Prakash            6
2018   2019   7/2/2022        Sanjeev Kumar           14
2021   2022   7/2/2022        Aditya Shinde           57
2023   2024   7/2/2022     Deepranjan Gupta           52
2097   2098   7/1/2022        Sanjeev Kumar           22

     Average Response Time Average Resolution Time  Average Rating  \
4                  0:01:11                 0:16:33            3.67
10                 0:00:47                 0:42:56            3.60
73                 0:01:59                 0:18:25            4.00
76                 0:00:36                 0:10:41            3.75
78                 0:01:24                 0:28:53            3.79
...                    ...                     ...             ...
1941               0:00:44                 0:02:28            3.80
2018               0:01:34                 0:18:20            4.00
2021               0:01:26                 0:19:52            3.54
2023               0:01:10                 0:35:14            3.71
2097               0:01:12                 0:30:34            4.00

      Total Feedback
4                  6
10                 5
73                 5
76                 4
78                14
...              ...
1941               5
2018              12
2021              28
2023              24
2097              13

[114 rows x 8 columns]

In [8]:
# 6. Agent name who has a rating less than 3.5 

df[df['Average Rating']<3.5][['Agent Name','Average Rating']].drop_duplicates('Agent Name')

               Agent Name  Average Rating
1           Nandani Gupta            3.14
19       Hitesh Choudhary            0.00
20             Sanjeevan             0.00
21               Anirudh             0.00
22       Shiva Srivastava            0.00
...                   ...             ...
210           Madhulika G            0.00
215   Boktiar Ahmed Bappy            0.00
538      Deepranjan Gupta            0.00
644        Ishawant Kumar            3.18
1180   Shivananda Sonwane            0.00

[70 rows x 2 columns]

In [9]:
# 7. Agent name who has a rating of more than 4.5

df[df['Average Rating']>4.5].groupby('Agent Name')['Average Rating'].max().reset_index()

                Agent Name  Average Rating
0            Aditya Shinde            5.00
1              Aditya_iot             5.00
2               Ameya Jain            5.00
3                 Anirudh             5.00
4                Ankitjha             5.00
5                 Aravind             5.00
6            Ayushi Mishra            5.00
7                 Bharath             5.00
8      Boktiar Ahmed Bappy            5.00
9       Chaitra K Hiremath            5.00
10        Deepranjan Gupta            5.00
11      Harikrishnan Shaji            4.89
12         Hrisikesh Neogi            4.91
13          Ishawant Kumar            5.00
14          Jawala Prakash            5.00
15            Jayant Kumar            5.00
16           Jaydeep Dixit            4.91
17          Khushboo Priya            5.00
18             Madhulika G            5.00
19           Mahesh Sarade            4.71
20                 Maitry             5.00
21            Manjunatha A            5.00
22                Mithun S            4.80
23                 Mukesh             4.67
24             Mukesh Rao             5.00
25             Muskan Garg            5.00
26           Nandani Gupta            4.80
27            Nishtha Jain            5.00
28  Prabir Kumar Satapathy            5.00
29           Prateek _iot             5.00
30            Prerna Singh            5.00
31             Rishav Dash            4.80
32         Saikumarreddy N            5.00
33           Sandipan Saha            5.00
34           Sanjeev Kumar            5.00
35          Saurabh Shukla            5.00
36        Shiva Srivastava            5.00
37                Shivan K            5.00
38      Shivananda Sonwane            5.00
39          Shubham Sharma            5.00
40       Sowmiya Sivakumar            4.75
41         Sudhanshu Kumar            5.00
42           Suraj S Bilgi            5.00
43                  Swati             4.78
44                  Vivek             5.00
45                  Wasim             4.94
46                Zeeshan             4.85

In [10]:
# 8 . how many feedback agents have received more than 4.5 on average
result = df.groupby('Agent Name')['Total Feedback'].mean().reset_index()
result = result[result['Total Feedback'] > 4.5]
result

                Agent Name  Total Feedback
2            Aditya Shinde        5.100000
5               Ameya Jain        7.600000
10                Aravind         7.766667
13           Ayushi Mishra       10.966667
14                Bharath         8.233333
15     Boktiar Ahmed Bappy       10.366667
17        Deepranjan Gupta       10.400000
19      Harikrishnan Shaji        7.700000
21         Hrisikesh Neogi       12.233333
24          Ishawant Kumar        6.733333
25          Jawala Prakash        8.333333
27           Jaydeep Dixit       10.166667
28          Khushboo Priya        9.633333
29             Madhulika G        9.366667
31           Mahesh Sarade        7.200000
32                 Maitry        11.566667
34            Manjunatha A        8.466667
35                Mithun S       12.133333
39           Nandani Gupta       10.266667
40            Nishtha Jain        8.566667
42  Prabir Kumar Satapathy        7.400000
44            Prerna Singh        7.833333
48         Saikumarreddy N        9.666667
51           Sanjeev Kumar       10.366667
55                Shivan K        8.100000
57      Shivananda Sonwane        8.766667
58          Shubham Sharma       10.000000
59       Sowmiya Sivakumar        4.700000
63                  Swati        10.066667
68                  Wasim         9.466667
69                Zeeshan        11.166667

In [11]:
df.reset_index()

,index,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,0,1,7/30/2022,Prerna Singh,11,0:00:38,0:04:20,4.11,9
1,1,2,7/30/2022,Nandani Gupta,11,0:01:15,0:28:25,3.14,7
2,2,3,7/30/2022,Ameya Jain,14,0:00:30,0:11:36,4.55,11
3,3,4,7/30/2022,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7
4,4,5,7/30/2022,Swati,14,0:01:11,0:16:33,3.67,6
...,...,...,...,...,...,...,...,...,...
2155,2155,2156,7/1/2022,Sowmiya Sivakumar,0,0:00:00,0:00:00,0.00,0
2156,2156,2157,7/1/2022,Nitin M,0,0:00:00,0:00:00,0.00,0
2157,2157,2158,7/1/2022,Vivek,0,0:00:00,0:00:00,0.00,0
2158,2158,2159,7/1/2022,Ayushi Mishra,0,0:00:00,0:00:00,0.00,0
2159,2159,2160,7/1/2022,Chaitra K Hiremath,0,0:00:00,0:00:00,0.00,0

In [12]:
df

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,7/30/2022,Prerna Singh,11,0:00:38,0:04:20,4.11,9
1,2,7/30/2022,Nandani Gupta,11,0:01:15,0:28:25,3.14,7
2,3,7/30/2022,Ameya Jain,14,0:00:30,0:11:36,4.55,11
3,4,7/30/2022,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7
4,5,7/30/2022,Swati,14,0:01:11,0:16:33,3.67,6
...,...,...,...,...,...,...,...,...
2155,2156,7/1/2022,Sowmiya Sivakumar,0,0:00:00,0:00:00,0.00,0
2156,2157,7/1/2022,Nitin M,0,0:00:00,0:00:00,0.00,0
2157,2158,7/1/2022,Vivek,0,0:00:00,0:00:00,0.00,0
2158,2159,7/1/2022,Ayushi Mishra,0,0:00:00,0:00:00,0.00,0
2159,2160,7/1/2022,Chaitra K Hiremath,0,0:00:00,0:00:00,0.00,0

In [13]:
df.reset_index(drop=True, inplace=True)

In [14]:
df

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,7/30/2022,Prerna Singh,11,0:00:38,0:04:20,4.11,9
1,2,7/30/2022,Nandani Gupta,11,0:01:15,0:28:25,3.14,7
2,3,7/30/2022,Ameya Jain,14,0:00:30,0:11:36,4.55,11
3,4,7/30/2022,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7
4,5,7/30/2022,Swati,14,0:01:11,0:16:33,3.67,6
...,...,...,...,...,...,...,...,...
2155,2156,7/1/2022,Sowmiya Sivakumar,0,0:00:00,0:00:00,0.00,0
2156,2157,7/1/2022,Nitin M,0,0:00:00,0:00:00,0.00,0
2157,2158,7/1/2022,Vivek,0,0:00:00,0:00:00,0.00,0
2158,2159,7/1/2022,Ayushi Mishra,0,0:00:00,0:00:00,0.00,0
2159,2160,7/1/2022,Chaitra K Hiremath,0,0:00:00,0:00:00,0.00,0

In [15]:
# Check data types of columns
print(df.dtypes)

# If 'Average Response Time' is not numeric, inspect its unique values
print(df['Average Response Time'].unique())

SL No                        int64
Date                        object
Agent Name                  object
Total Chats                  int64
Average Response Time       object
Average Resolution Time     object
Average Rating             float64
Total Feedback               int64
dtype: object
['0:00:38' '0:01:15' '0:00:30' '0:01:04' '0:01:11' '0:00:34' '0:00:31'
 '0:00:55' '0:01:31' '0:00:59' '0:00:47' '0:01:32' '0:01:21' '0:00:42'
 '0:01:24' '0:01:13' '0:00:51' '0:00:00' '0:02:23' '0:01:14' '0:00:14'
 '0:00:25' '0:00:36' '0:00:45' '0:01:59' '0:00:52' '0:01:00' '0:00:46'
 '0:01:57' '0:01:30' '0:01:06' '0:00:41' '0:01:41' '0:00:57' '0:01:54'
 '0:01:44' '0:01:40' '0:00:43' '0:00:28' '0:00:54' '0:02:16' '0:01:16'
 '0:00:56' '0:01:20' '0:00:24' '0:00:35' '0:01:48' '0:02:35' '0:01:28'
 '0:01:43' '0:00:49' '0:01:07' '0:01:12' '0:02:44' '0:01:10' '0:01:22'
 '0:01:18' '0:01:53' '0:00:37' '0:02:13' '0:00:39' '0:01:05' '0:00:44'
 '0:01:25' '0:02:00' '0:00:32' '0:01:35' '0:01:33' '0:00:40' '0:01:19'
 '0:01:01' '0:00:48' '0:00:22' '0:01:09' '0:01:23' '0:00:50' '0:01:17'
 '0:02:06' '0:01:26' '0:00:21' '0:01:36' '0:01:03' '0:05:32' '0:02:08'
 '0:01:02' '0:00:19' '0:01:08' '0:02:11' '0:01:29' '0:01:27' '0:00:33'
 '0:02:15' '0:03:49' '0:03:19' '0:01:42' '0:02:04' '0:01:45' '0:01:39'
 '0:01:46' '0:02:09' '0:01:55' '0:00:58' '0:00:53' '0:02:53' '0:06:19'
 '0:00:27' '0:01:37' '0:01:51' '0:07:00' '0:03:11' '0:00:04' '0:00:29'
 '0:02:32' '0:03:16' '0:01:49' '0:04:02' '0:02:34' '0:02:29' '0:03:42'
 '0:02:07' '0:01:52' '0:00:26' '0:01:38' '0:01:34' '0:05:10' '0:01:47'
 '0:04:13' '0:00:23' '0:04:27' '0:06:34' '0:02:05' '0:03:41' '0:17:28'
 '0:02:49' '0:06:43' '0:02:47' '0:01:50' '0:02:18' '0:04:09' '0:02:01'
 '0:03:46' '0:02:14' '0:02:03' '0:02:45']

In [16]:
# Loading the dataset from the CSV file
df = pd.read_csv(r'AgentPerformance.csv')

In [17]:
df

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,7/30/2022,Prerna Singh,11,0:00:38,0:04:20,4.11,9
1,2,7/30/2022,Nandani Gupta,11,0:01:15,0:28:25,3.14,7
2,3,7/30/2022,Ameya Jain,14,0:00:30,0:11:36,4.55,11
3,4,7/30/2022,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7
4,5,7/30/2022,Swati,14,0:01:11,0:16:33,3.67,6
...,...,...,...,...,...,...,...,...
2155,2156,7/1/2022,Sowmiya Sivakumar,0,0:00:00,0:00:00,0.00,0
2156,2157,7/1/2022,Nitin M,0,0:00:00,0:00:00,0.00,0
2157,2158,7/1/2022,Vivek,0,0:00:00,0:00:00,0.00,0
2158,2159,7/1/2022,Ayushi Mishra,0,0:00:00,0:00:00,0.00,0
2159,2160,7/1/2022,Chaitra K Hiremath,0,0:00:00,0:00:00,0.00,0

In [18]:
# Loading the dataset from the CSV file
df = pd.read_csv(r'AgentPerformance.csv')

In [19]:
df

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,7/30/2022,Prerna Singh,11,0:00:38,0:04:20,4.11,9
1,2,7/30/2022,Nandani Gupta,11,0:01:15,0:28:25,3.14,7
2,3,7/30/2022,Ameya Jain,14,0:00:30,0:11:36,4.55,11
3,4,7/30/2022,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7
4,5,7/30/2022,Swati,14,0:01:11,0:16:33,3.67,6
...,...,...,...,...,...,...,...,...
2155,2156,7/1/2022,Sowmiya Sivakumar,0,0:00:00,0:00:00,0.00,0
2156,2157,7/1/2022,Nitin M,0,0:00:00,0:00:00,0.00,0
2157,2158,7/1/2022,Vivek,0,0:00:00,0:00:00,0.00,0
2158,2159,7/1/2022,Ayushi Mishra,0,0:00:00,0:00:00,0.00,0
2159,2160,7/1/2022,Chaitra K Hiremath,0,0:00:00,0:00:00,0.00,0

In [20]:
# 9. Average weekly response time for each agent
# Average weekly response time for each agent
import pandas as pd

# Assuming 'Date' is a datetime column in your DataFrame
df['Date'] = pd.to_datetime(df['Date'])

# Set 'Date' as the index (inplace=True is important here)
df.set_index('Date', inplace=True)

# Convert 'Average Response Time' to timedelta
df['Average Response Time'] = pd.to_timedelta(df['Average Response Time'])

# Calculate the average weekly response time for each agent
result = df.groupby('Agent Name')['Average Response Time'].resample('W').mean().reset_index()

# Reset the index to move 'Week' from the index to a regular column
result.reset_index(drop=True, inplace=True)

# Convert timedelta to hr:mn:sec format
result['Average Response Time'] = result['Average Response Time'].apply(lambda x: str(x).split()[-1])

# Select rows for unique agents
unique_agents_result = result[~result['Agent Name'].duplicated(keep='first')]

# Print the result or perform any additional actions
unique_agents_result[['Agent Name', 'Average Response Time']]

        Agent Name Average Response Time
0        Abhishek               00:00:00
5          Aditya               00:00:00
10   Aditya Shinde    00:00:55.333333333
15     Aditya_iot               00:00:00
20         Amersh               00:00:00
..             ...                   ...
325    Uday Mishra              00:00:00
330      Vasanth P              00:00:00
335         Vivek               00:00:00
340         Wasim               00:00:00
345       Zeeshan               00:00:00

[70 rows x 2 columns]

In [37]:
# 10. average weekly resolution time for each agent 
# Assuming df is your DataFrame
# Convert 'Average Resolution Time' to timedelta if it's not already
df['Average Resolution Time'] = pd.to_timedelta(df['Average Resolution Time'])

# Group by 'Agent Name' and 'Date' and calculate the average weekly resolution time
Average_Resolution_Time_Weekly = df.groupby(['Agent Name', df.index.to_period('W-Mon')])['Average Resolution Time'].mean()

# Reset the index to make 'Agent Name' and 'Date' regular columns
result_df = Average_Resolution_Time_Weekly.reset_index()

# Group by 'Agent Name' and calculate the overall average weekly resolution time for each agent
average_resolution_time_unique_agents = result_df.groupby('Agent Name')['Average Resolution Time'].mean()

# Create a new DataFrame with unique agents and their average weekly resolution time
average_resolution_time_unique_agents_df = pd.DataFrame(average_resolution_time_unique_agents).reset_index()
average_resolution_time_unique_agents_df.columns = ['Agent Name', 'Average_Resolution_Time_Weekly']

# Print the DataFrame
print(average_resolution_time_unique_agents_df)

       Agent Name Average_Resolution_Time_Weekly
0       Abhishek                 0 days 00:00:00
1         Aditya                 0 days 00:00:00
2   Aditya Shinde      0 days 00:10:31.871428571
3     Aditya_iot       0 days 00:09:01.548571428
4         Amersh                 0 days 00:00:00
..            ...                            ...
65    Uday Mishra                0 days 00:00:00
66      Vasanth P                0 days 00:00:00
67         Vivek       0 days 00:02:10.942857142
68         Wasim       0 days 00:10:51.142857142
69       Zeeshan       0 days 00:09:54.159999999

[70 rows x 2 columns]

In [22]:
# 11. list of all agents' names 

unique_agents = pd.DataFrame(df['Agent Name'].unique(), columns=['Agent Name'])
print(unique_agents)

             Agent Name
0          Prerna Singh
1         Nandani Gupta
2            Ameya Jain
3         Mahesh Sarade
4                Swati
..                  ...
65  Boktiar Ahmed Bappy
66   Shivananda Sonwane
67       Ishawant Kumar
68     Deepranjan Gupta
69       Jawala Prakash

[70 rows x 1 columns]

In [23]:
# 12. percentage of chats on which they have received feedback 
percentage_chats_feedback = df['Total Feedback'] / df['Total Chats'] * 100
df['percentage_chats_feedback'] = percentage_chats_feedback
result_df = df[['Agent Name', 'percentage_chats_feedback']].copy()
print(result_df)

                    Agent Name  percentage_chats_feedback
Date
2022-07-30        Prerna Singh                  81.818182
2022-07-30       Nandani Gupta                  63.636364
2022-07-30          Ameya Jain                  78.571429
2022-07-30       Mahesh Sarade                  50.000000
2022-07-30              Swati                   42.857143
...                        ...                        ...
2022-07-01   Sowmiya Sivakumar                        NaN
2022-07-01             Nitin M                        NaN
2022-07-01              Vivek                         NaN
2022-07-01       Ayushi Mishra                        NaN
2022-07-01  Chaitra K Hiremath                        NaN

[2160 rows x 2 columns]

In [24]:
# 13 . Total contribution hour for each and every agent's weekly basis

import pandas as pd

# Assuming df is your DataFrame

# Convert 'Average Resolution Time' to timedelta if it's not already
df['Average Resolution Time'] = pd.to_timedelta(df['Average Resolution Time'])

# Group by 'Agent Name' and calculate the total contribution hours for each week
contribution_hour = df.groupby('Agent Name')['Average Resolution Time'].resample('W').sum()

# Reset the index to make 'Agent Name' and 'Date' regular columns
result_df = contribution_hour.reset_index()

# Rename the columns
result_df.columns = ['Agent Name', 'Date', 'Contribution Hours']  # Adjusted column name

print(result_df)

    Agent Name       Date Contribution Hours
0    Abhishek  2022-07-03    0 days 00:00:00
1    Abhishek  2022-07-10    0 days 00:00:00
2    Abhishek  2022-07-17    0 days 00:00:00
3    Abhishek  2022-07-24    0 days 00:00:00
4    Abhishek  2022-07-31    0 days 00:00:00
..         ...        ...                ...
345   Zeeshan  2022-07-03    0 days 00:00:00
346   Zeeshan  2022-07-10    0 days 00:37:41
347   Zeeshan  2022-07-17    0 days 01:54:50
348   Zeeshan  2022-07-24    0 days 01:32:40
349   Zeeshan  2022-07-31    0 days 01:17:21

[350 rows x 3 columns]

In [25]:
df

,SL No,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,percentage_chats_feedback
Date,,,,,,,,
2022-07-30,1,Prerna Singh,11,0 days 00:00:38,0 days 00:04:20,4.11,9,81.818182
2022-07-30,2,Nandani Gupta,11,0 days 00:01:15,0 days 00:28:25,3.14,7,63.636364
2022-07-30,3,Ameya Jain,14,0 days 00:00:30,0 days 00:11:36,4.55,11,78.571429
2022-07-30,4,Mahesh Sarade,14,0 days 00:01:04,0 days 00:15:46,4.71,7,50.000000
2022-07-30,5,Swati,14,0 days 00:01:11,0 days 00:16:33,3.67,6,42.857143
...,...,...,...,...,...,...,...,...
2022-07-01,2156,Sowmiya Sivakumar,0,0 days 00:00:00,0 days 00:00:00,0.00,0,NaN
2022-07-01,2157,Nitin M,0,0 days 00:00:00,0 days 00:00:00,0.00,0,NaN
2022-07-01,2158,Vivek,0,0 days 00:00:00,0 days 00:00:00,0.00,0,NaN
2022-07-01,2159,Ayushi Mishra,0,0 days 00:00:00,0 days 00:00:00,0.00,0,NaN
2022-07-01,2160,Chaitra K Hiremath,0,0 days 00:00:00,0 days 00:00:00,0.00,0,NaN

In [30]:
df.dtypes

SL No                                  int64
Agent Name                            object
Total Chats                            int64
Average Response Time        timedelta64[ns]
Average Resolution Time      timedelta64[ns]
Average Rating                       float64
Total Feedback                         int64
percentage_chats_feedback            float64
dtype: object

In [27]:
# 14. total percentage of active hours for a month 
import pandas as pd

# Assuming df is your DataFrame
# Convert 'Average Resolution Time' to timedelta if it's not already
df['Average Resolution Time'] = pd.to_timedelta(df['Average Resolution Time'])

# Group by 'Agent Name' and calculate the total contribution hours for each week
contribution_hour = df.groupby(['Agent Name', df.index.to_period('W-Mon')])['Average Resolution Time'].sum()

# Reset the index to make 'Agent Name' and 'Date' regular columns
result_df = contribution_hour.reset_index()

# Calculate the total percentage of active hours for each agent in a month
total_active_hours_month = result_df.groupby('Agent Name')['Average Resolution Time'].sum()

# Create a new DataFrame with unique agents and their total contribution hours for the month
total_active_hours_month_df = pd.DataFrame(total_active_hours_month).reset_index()
total_active_hours_month_df.columns = ['Agent Name', 'Total Active Hours in Month']

# Print the DataFrame
print(total_active_hours_month_df)

       Agent Name Total Active Hours in Month
0       Abhishek              0 days 00:00:00
1         Aditya              0 days 00:00:00
2   Aditya Shinde             0 days 05:10:19
3     Aditya_iot              0 days 04:54:39
4         Amersh              0 days 00:00:00
..            ...                         ...
65    Uday Mishra             0 days 00:00:00
66      Vasanth P             0 days 00:00:00
67         Vivek              0 days 01:16:23
68         Wasim              0 days 05:44:26
69       Zeeshan              0 days 05:22:32

[70 rows x 2 columns]